/* -*- Mode: CSS; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
/* Global */
html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: #fff;
  font-family: 'Open Sans',sans-serif;
  height: 100%; }

/* Hidden Elements */
.hide, [data-template] {
  display: none !important; }

/* Tab List Icon Font Set */
[role="tablist"] > [role="tab"] > a.icon {
  font-size: 2.5rem; }
  [role="tablist"] > [role="tab"] > a.icon:after {
    position: relative; }

/* Image */
img[alt="placeholder"] {
  background: #cccccc url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiIHZpZXdCb3g9IjAgMCA1MCA1MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTAgNTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHgxPSIwIiB5MT0iMCIgeDI9IjUwIiB5Mj0iNTAiLz4NCjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiB4MT0iNTAiIHkxPSIwIiB4Mj0iMC4wODIiIHkyPSI0OS45MTkiLz4NCjwvc3ZnPg0K);
  background-size: 100% 100%;
  font-size: 0; }

/* Progress Bar */
p[role="status"] {
  text-align: center;
  display: none; }

/* View */
.view, .cache {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .view[data-state="active"], .cache[data-state="active"] {
    z-index: 100; }

.view .body {
  position: relative;
  height: calc(100% - 9rem); }
  .view .body .inner {
    overflow-y: auto;
    overflow-x: none;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%; }
  .view .body.full {
    height: calc(100% - 5rem);
    background: #fff; }
    .view .body.full #map-canvas {
      height: 100%; }
  .view .body.padding {
    padding: 0 1.5rem; }
.view .section {
  height: calc(100% - 4rem); }

.cache {
  pointer-events: none; }

/* Form */
form.full {
  margin: 1rem 0; }
form input[type="date"], form input[type="time"] {
  -moz-box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 4rem;
  resize: none;
  padding: 0 0.8rem;
  font: 1.4rem/4rem "MozTT", Sans-serif;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  box-shadow: none;
  /* override the box-shadow from the system (performance issue) */
  background: white url(input_areas/images/ui/shadow.png) repeat-x;
  height: 4rem;
  border: none;
  border-radius: 0;
  background: none;
  font-weight: 600; }
  form input[type="date"]::-moz-placeholder, form input[type="time"]::-moz-placeholder {
    color: #666; }
form fieldset {
  margin-top: 1.5rem; }

/* View Login */
#view-login #login-msg p {
  text-align: center;
  font-size: 28px;
  margin: 0; }
#view-login iframe {
  border: none;
  width: 175px;
  height: 55px;
  margin: 0 auto;
  display: block; }

/* View Transition */
.transition {
  -moz-transition: all 0.5s ease; }

.transition-bottom {
  -moz-transform: translateY(100%); }
